body
{
	margin-left: 15%;
	margin-top: 3%;
}
div
{
	border: 2px solid deeppink;
	width: 800px;
	height: 854px;
	margin-left: 22.5%;
	border-radius: 15px;
	margin-top: 10px;
	
}

.d1
{
	border: 2px solid blueviolet;
	width: 765px;
	height: 200px;
	margin-left: 2%;
	list-style: none;
}
.d2
{
	border: 2px solid blueviolet;
	width: 765px;
	height: 200px;
	margin-left: 0%;
	margin-top: 4.7%;
	list-style: none;

}

.d3
{
	border: 2px solid blueviolet;
	width: 765px;
	height: 200px;
	margin-left: 0%;
	margin-top: -3%;
	list-style: none;

}

li
{
   margin-left: 1.5%;
   padding-top: 3px;
   margin-top: 1.5%;
}



.li1
{
	font-size: 25px;
	font-weight: bold;



}


.li2
{
	margin-bottom: 0px;
	font-size: 25px;
	font-weight: bold;

}
img
{
	float: right;
	margin-top: 4.5%;
	margin-right: 15px;


}
.li3
{
	font-size: 25px;
	font-weight: bold;
margin-top: 0px;


}

.d4
{
	border: 2px solid blueviolet;
	width: 765px;
	height: 200px;
	margin-left: 0%;
	list-style: none;
	margin-top: 27px;
}