body{
	background: black;
	text-align: center;
	border: darkred 2px solid;
	border-radius: 26px;
	padding:15px 15px ;
	margin-top: 15px;
}
h1{
color: darkred;
font-family: fantasy;
font-style: 2em;
}

button
{
	width: 300px;
	border-radius: 26px;
	background-color: darkred;
	height: 60px;
	margin-top: 5px;
	box-shadow: 25px;
}

	button:hover
{
	background-color:yellowgreen ;
	color: yellow;
	border: darkred;
	transform: rotate(5deg);
	cursor: pointer;
}
input{
width: 300px;
	border-radius: 26px;
	background-color: darkred;
	height: 60px;
	margin-top: 5px;
	box-shadow: 25px;	
}