

h1{
	color: yellow;
	text-align: center;
}
td{
	color: yellow;
}
button
{
	width: 100px;
	border-radius: 26px;
	background-color: yellow;
	height: 30px;
	margin-top: 5px;
	box-shadow: 25px;

}
button:hover
{
	background-color:yellowgreen ;
	color: yellow;
	border: darkred;
	transform: rotate(12deg);
	cursor: pointer;
}
div{
	text-align:center;
}
